*, *:before, *:after
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 18px
    height: 100%

body
    width: 100%
    height: 100%
    line-height: 1.6
    font-family: 'Oswald', sans-serif
    color: #eee
    background:
        image: url('../img/background.jpg')
        size: cover
        position: center center
        attachment: fixed
        repeat: no-repeat

    #herozone
        position: relative
        top: 50%
        left: 50%
        background-color: rgba(#444, .8)
        transform: translate(-50%, -50%)
        min-width: 60%
        max-width: 90%
        max-height: 90%
        padding: 2rem
        border-radius: .2rem
        box-shadow: 0 0 1rem rgba(#444, .3)
        text-align: center
        text-shadow: 0 0 .5rem rgba(0,0,0, .3)
        overflow-y: auto

        .avatar
            display: inline-block
            width: 5rem
            height: 5rem
            background:
                image: url('../img/avatar.jpg')
                size: contain
                repeat: no-repeat
                position: center center
            border-radius: 50%
            box-shadow: .1rem .2rem .5rem rgba(#fff, .5) inset, -.1rem -.2rem .3rem rgba(#000, .8) inset, 0 .3rem 1rem rgba(#444, .5)
            margin: 1rem
            transition: all .3s
            &:hover
                transform: rotate(-20deg) scale(1.5)

        h1
            font-family: 'Permanent Marker', cursive
            font-size: 3rem

        p
            padding: 1rem 0
        
        .links
            margin-top: 1rem
            a
                display: inline-block
                padding: .3rem 1rem
                color: #eee
                border: .1em solid #eee
                border-radius: .2em
                text-decoration: none
                transition: all .3s

                &:hover
                    background-color: #eee
                    color: #444

@media (max-width: 768px)
    html
        font-size: 14px